<!-- <p>about works!</p> -->
<div class="jumbotron">
    <h1 class="display-4 text-center">About Goals App</h1>
    <hr class="my-4">
    <p class="lead text-center">An Angular app that let's you create your goals and gives you quotes from the world of computing!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, quo eius? Illo, incidunt? Quos tempora libero omnis exercitationem temporibus alias odit voluptatum, officiis atque soluta quo aspernatur a magnam corrupti.</p>
  </div>